body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  background-color: rgb(48, 51, 60);
}
.header {
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}
.header__name {
  background-color: #90cbcc;
  margin: 1% 0;
  font-size: 250%;
  text-decoration: none;
  color: #353147;
  font-weight: 00;
  padding-left: 10%;
  padding-right: 2.5%;
  margin-right: 25%;
}
.header__navigation {
  margin: 1% 0;
  font-size: 175%;
  color: #96c8c8;
  text-decoration: none;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.content {
  margin: 10% 0;
}

section {
  display: flex;
  margin: -10% 0;
}

section .vl {
  border-left: 6px solid #49576c;
  margin: 7.5% 0;
  margin-right: 2%;
}
section h1 {
  margin: 10% 1%;
  margin-left: 10%;
  color: #4b5773;
  font-size: 300%;
}
section article {
  margin: 10% 0;
}
section article p {
  color: #4b5773;
}
.work {
  margin: 10% 0;
}

.work {
  text-decoration: none;
  color: inherit;
}
.firstWork {
  text-decoration: none;
  color: inherit;
}
.work__moreWork {
  display: flex;
}
.work__firstWorkImage {
  width: 60%;
  border-width: 8px;
  border-style: solid;
  border-color: #9ac7c8;
}
.work__image {
  margin: 0 10%;
  height: 90%;
  width: 90%;
  border-width: 8px;
  border-style: solid;
  border-color: #9ac7c8;
}

.work__title {
  color: #2e3246;
  font-size: x-large;
}

.work {
  float: left;
  height: 40;
  width: 50%;
}
.banner__imgContainer {
  overflow: hidden;
  min-height: 300px;
}
.banner img {
  width: 100%;
}
.banner h3 {
  margin: 0 10%;
  text-align: center;
  margin-top: -150px;
  font-size: 400%;
  color: #ffffff;
}

.contactme {
  display: flex;
  justify-content: space-between;
}
.profilephoto {
  margin-top: 5%;
  width: 30%;
  height: 60%;
}
.contactme a {
  margin: 200px 10%;
  margin-left: 10%;
  color: #4b5773;
  font-size: 300%;
}

/*Responsive*/
@media screen and (max-width: 800px) {
  section {
    display: flex;
    flex-direction: column;
    margin: -10% 5%;
  }

  section .vl {
    border-left: none;

    margin: 7.5% 0;
    margin-right: 2%;
  }
  section h1 {
    margin: 10% 1%;
    margin-left: 10%;
    color: #4b5773;
    font-size: 300%;
  }
  .banner h3 {
    margin-top: -100px;
  }
  .profilephoto {
    margin: 0 10%;
    width: 80%;
  }
  .header {
    flex-direction: column;
  }
  .contactme a {
    margin: 200px 10%;
    margin-left: 10%;
    color: #4b5773;
    font-size: 200%;
  }
  .work__title {
    color: #2e3246;
    font-size: large;
  }
  .work p {
    font-size: small;
  }
  .work__image {
    width: 80%;
  }
}
